/* --- Styling Reset --- */
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    z-index: 0;
}

a {
    text-decoration: none;
}

/* --- End Styling Reset --- */

body {
    background-color: #666666;
}

body>header:first-of-type {
    position: relative;
    color: white;
    font-family: 'Syne Tactile', cursive;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    writing-mode: vertical-rl;
    text-align: center;
}

main {
    background-color: #666666;
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 6vw;
    grid-row-gap: 8vh;
    padding: 10px 10px 20px 10px;
}

main section {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1),
        15px 15px 15px rgba(0, 0, 0, 0.1),
        25px 25px 25px rgba(0, 0, 0, 0.1),
        30px 30px 30px rgba(0, 0, 0, 0.1),
        inset 1px 1px 2px #fff;
    background-color: white;
    padding: 10px 15px;
    text-align: center;
    border: 3px solid #333333;
}

main section:first-of-type {
    height: 100vh;
}

main section::before {
    content: "";
    position: absolute;
    background-color: lightgrey;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 1) 30%, rgba(85, 85, 85, 0) 100%);
    top: -1px;
    left: -1px;
    width: 111.5%;
    height: 109.75%;
    -webkit-clip-path: polygon(0% 91.8%, 3% 93%, 92% 93%, 92% 2%, 90.3% 0%, 90.3% 91.8%);
    clip-path: polygon(0% 91.8%, 3% 93%, 92% 93%, 92% 2%, 90.3% 0%, 90.3% 91.8%);
    transform-origin: top;
    pointer-events: none;
}

main section h2 {
    font-family: 'Redressed', cursive;
    margin-bottom: 15px;
    font-size: clamp(24px, 2.5vw, 50px);
}

main section header p {
    margin-bottom: 15px;
    font-family: 'Redressed', cursive;
    font-size: clamp(12px, 1.25vw, 25px);
}

/* main section header::after,
main section h2::after {

} */

main section header h2 {
    margin-bottom: 0px;
}

main section dl {
    font-size: clamp(14px, 0.5vw, 16px);
}

main section dd:nth-of-type(even) {
    margin-bottom: 10px;
}

dt {
    font-weight: bold;
    text-transform: uppercase;
}

dl dd:nth-of-type(odd) {
    font-size: 12px;
}

dl dd:nth-child(3n)::before {
    content: "\20AC";
}

dl dd:nth-child(3n)::after {
    content: ",-";
}

/* ----- blockquote styling ----- */
blockquote {
    position: relative;
    text-align: center;
    padding: 1rem 1.2rem;
    width: 80%;
    /* create space for the quotes */
    color: #484748;
    margin: 1rem auto 2rem;
    background:
        linear-gradient(to right, #484748 4px, transparent 4px) 0 100%,
        linear-gradient(to left, #484748 4px, transparent 4px) 100% 0,
        linear-gradient(to bottom, #484748 4px, transparent 4px) 100% 0,
        linear-gradient(to top, #484748 4px, transparent 4px) 0 100%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

blockquote:before,
blockquote:after {
    position: absolute;
    color: #484748;
    font-size: 90px;
}

blockquote:before {
    content: "“";
    top: -20px;
    margin-right: -20px;
    right: 100%;
}

blockquote:after {
    content: "”";
    margin-left: -20px;
    left: 100%;
    top: auto;
    bottom: -65px;
}

blockquote p {
    margin-bottom: 10px;
}

/* ----- end blockquote styling ----- */

/* ----- Autootje ---- */
main > div:first-of-type {
    display: grid;
    position: absolute;
    z-index: 1;
    left: 44.5vw;
    top: 5px;
    height: 30px;
    width: 25px;
}

main > div:first-of-type::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 21px;
    border: 3px solid red;
    background-color: white;
    border-radius: 5px 5px 0px 0px;
    grid-column: 1;
    grid-row: 1;
    margin: 0 auto;
}

main > div:first-of-type::after {
    content: "";
    display: inline-block;
    height: 10px;
    width: 25px;
    background-color: red;
    grid-column: 1;
    grid-row: 1;
    border-radius: 5px 5px 0px 0px;
    margin-top: 10px;
}

/* ---- lights ---- */
main > div:first-of-type > div:first-of-type {
    position: relative;
    display: grid;
    width: 25px;
    height: 10px;
    grid-column: 1;
    grid-row: 1;
    margin-top: 10px;
    z-index: 1;
}

main > div:first-of-type > div:first-of-type:before,
main > div:first-of-type > div:first-of-type:after {
    content: "";
    position: absolute;
    top: 2px;
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: yellow;
    grid-column: 1;
    grid-row: 1;
    border-radius: 10px;
}

/* ---- end lights ---- */
/* ---- wheels ---- */

main > div:first-of-type > div:last-of-type {
    position: relative;
    display: grid;
    width: 25px;
    height: 10px;
}

main > div:first-of-type > div:last-of-type:before,
main > div:first-of-type > div:last-of-type:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 3px;
    height: 5px;
    background-color: black;
    grid-column: 1;
    grid-row: 1;
}

/* ---- end wheels ---- */

/* ---- wheels and lights ---- */

main > div:first-of-type > div:first-of-type:before,
main > div:first-of-type > div:last-of-type:before {
    left: 3px;
}

main > div:first-of-type > div:first-of-type:after,
main > div:first-of-type > div:last-of-type:after {
    right: 4px;
}

/* ---- end wheels and lights ---- */

/* ----- end Autootje ---- */

input {
    position: absolute;
    left: -1000em;
}

label {
    position: absolute;
    writing-mode: initial;
    right: -125px;
    top: 10px;
    max-width: 78px;
    padding: 5px;
    border: 1px solid white;
    color: white;
}

input[type="checkbox"]:first-of-type:checked + main > div:first-of-type {
    animation-name: rijden_bottom, linksafslaan;
    animation-duration: 10s, 5s;
    animation-delay: 0s, 8s;
    animation-fill-mode: forwards, forwards;
    animation-timing-function: ease, ease-in;
}

input[type="checkbox"]:first-of-type:checked + main > div:first-of-type > div:first-of-type::before {
    animation-name: knipperlicht;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

@keyframes rijden_bottom {
    0% {
        top: 5px;
    }

    100% {
        top: 102vh;
    }

}

@keyframes knipperlicht {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        background-color: yellow;
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        background-color: orangered;
    }
}

@keyframes linksafslaan {
    0% {
        left: 44.5vw;
    }

    100% {
        left: 2.5%;
    }

}
/* ----- traffic light(s) ----- 
   source:https://codesandbox.io/s/6h6jg */

main > div:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 110vh;
    right: 41.5vw;
    z-index: 1;
}

main > div:last-of-type div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15px;
    height: 20px;
    padding: 0px 0px;
    border-radius: 5px;
    background-color: black;
  }
  main > div:last-of-type div span {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: gray;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  main > div:last-of-type div span:first-of-type {
    animation-name: redlight;
  }
  main > div:last-of-type div span:nth-of-type(2) {
    animation-name: yellowlight;
  }
  main > div:last-of-type div span:last-of-type {
    animation-name: greenlight;
  }
  main > div:last-of-type > span {
    display: block;
    width: 5px;
    height: 10px;
    background-color: darkgray;
    border-radius: 0px 0px 2px 2px;
  }
  
    main > div:nth-of-type(2) {
        position: absolute;
        top: 100vh;
        right: 40.5vw;
        height: 30px;
        width: 15px;
        transform: skew(15deg, 330deg);
        z-index: 1;
        background: -moz-element(#traffic_light) no-repeat;
        background-size: 100% 100%;
    }
    /* (Note: if you view this in an editor) these errors are present because of moz-element is not fully supported */

    main > div:nth-of-type(2) div > span {
        animation-delay: 1s;
    } 
    

  @keyframes redlight {
    0%,
    33% {
      background-color: red;
    }
    34%,
    100% {
      background-color: gray;
    }
  }

  @keyframes yellowlight {
    0%,
    33% {
      background-color: gray;
    }
    34%,
    66% {
      background-color: yellow;
    }
    67%,
    100% {
      background-color: gray;
    }
  }

  @keyframes greenlight {
    0%,
    66% {
      background-color: gray;
    }
    67%,
    100% {
      background-color: green;
    }
  }
/* ----- end traffic light ----- */ 
main section:nth-of-type(4) i {
    border: 1px solid red;
    padding: 2px 5px;
    border-radius: 35px;
    color: sandybrown;
}

main > i:nth-of-type(4) {
    background-color: sandybrown;
    height: 100px;
    max-width: 100px;
    clip-path: polygon(34.47999954223633% 17.760000228881836%, 33.66219711303711% 17.760000228881836%, 33.366127014160156% 18.265270233154297%, 33.34833908081055% 19.08277702331543%, 33.290714263916016% 19.89847755432129%, 33.198116302490234% 20.710960388183594%, 33.07258987426758% 21.519014358520508%, 32.91522979736328% 22.32147789001465%, 32.72665023803711% 23.117185592651367%, 32.507137298583984% 23.90492057800293%, 32.25709915161133% 24.683504104614258%, 31.976619720458984% 25.45164680480957%, 31.665950775146484% 26.208084106445312%, 31.325393676757812% 26.951541900634766%, 30.95526695251465% 27.680728912353516%, 30.556045532226562% 28.39440155029297%, 30.128286361694336% 29.091346740722656%, 29.67268180847168% 29.770414352416992%, 29.19001007080078% 30.430517196655273%, 28.68120765686035% 31.070695877075195%, 28.147315979003906% 31.690109252929688%, 27.589393615722656% 32.287967681884766%, 27.008699417114258% 32.86373519897461%, 26.406465530395508% 33.41693115234375%, 25.78400230407715% 33.94727325439453%, 25.14257049560547% 34.45450973510742%, 24.483535766601562% 34.938655853271484%, 23.808185577392578% 35.399776458740234%, 23.117786407470703% 35.83805465698242%, 22.413555145263672% 36.25374984741211%, 21.696672439575195% 36.64723205566406%, 20.968273162841797% 37.01895523071289%, 20.229389190673828% 37.369380950927734%, 19.48101043701172% 37.69906234741211%, 18.72406005859375% 38.00855255126953%, 17.957212448120117% 38.26926040649414%, 17.166120529174805% 38.062767028808594%, 16.389028549194336% 37.80825424194336%, 15.62516975402832% 37.516361236572266%, 14.875061988830566% 37.190738677978516%, 14.139507293701172% 36.83344650268555%, 13.41950798034668% 36.44575500488281%, 12.716096878051758% 36.02872848510742%, 12.030455589294434% 35.58308029174805%, 11.36373519897461% 35.10959243774414%, 10.717093467712402% 34.60903549194336%, 10.091670036315918% 34.08220672607422%, 9.488554000854492% 33.52998352050781%, 8.908759117126465% 32.95331954956055%, 8.353248596191406% 32.35322570800781%, 7.822802543640137% 31.730865478515625%, 7.318166732788086% 31.0873966217041%, 6.839846134185791% 30.42413330078125%, 6.388263702392578% 29.74237632751465%, 5.963680267333984% 29.043495178222656%, 5.566193580627441% 28.32884407043457%, 5.195804595947266% 27.599781036376953%, 4.852312088012695% 26.8576602935791%, 4.5354084968566895% 26.10379981994629%, 4.244702339172363% 25.33945655822754%, 3.9796969890594482% 24.565820693969727%, 3.739762783050537% 23.78404426574707%, 3.5243542194366455% 22.99515724182129%, 3.3326878547668457% 22.200162887573242%, 3.1640334129333496% 21.39996337890625%, 3.0176949501037598% 20.59539031982422%, 2.8928046226501465% 19.787202835083008%, 2.788686513900757% 18.976078033447266%, 2.70449161529541% 18.162643432617188%, 2.2563164234161377% 17.759998321533203%, 1.494498372077942% 17.479169845581055%, 0.8448741436004639% 16.98677635192871%, 0.3558799624443054% 16.334579467773438%, 0.06567072868347168% 15.57284927368164%, 0.050000157207250595% 14.756714820861816%, 0.05000011995434761% 13.938912391662598%, 0.050000082701444626% 13.121109962463379%, 0.05000004917383194% 12.30330753326416%, 0.050000011920928955% 11.485505104064941%, 0.185042142868042% 10.682648658752441%, 0.44057101011276245% 9.906171798706055%, 0.7728649377822876% 9.159290313720703%, 1.1796013116836548% 8.450236320495605%, 1.6599868535995483% 7.788913726806641%, 2.2119228839874268% 7.186073303222656%, 2.830646514892578% 6.65203332901001%, 3.508279800415039% 6.1950531005859375%, 4.234467029571533% 5.81993293762207%, 4.997740268707275% 5.527383327484131%, 5.786995887756348% 5.314453125%, 6.592650413513184% 5.175591945648193%, 7.4070892333984375% 5.1038713455200195%, 8.224503517150879% 5.080043792724609%, 9.04206657409668% 5.060451507568359%, 9.859780311584473% 5.048803806304932%, 10.677573204040527% 5.045101642608643%, 11.495360374450684% 5.049378395080566%, 12.313067436218262% 5.061605453491211%, 13.130614280700684% 5.081777095794678%, 13.947928428649902% 5.109891891479492%, 14.764935493469238% 5.145946502685547%, 15.58155345916748% 5.189945220947266%, 16.37691307067871% 5.213115692138672%, 16.602088928222656% 4.4269890785217285%, 16.85691261291504% 3.6499500274658203%, 17.14259910583496% 2.8837437629699707%, 17.466453552246094% 2.1329233646392822%, 17.842538833618164% 1.4070115089416504%, 18.298770904541016% 0.7292446494102478%, 18.895431518554688% 0.17582961916923523%, 19.68024253845215% 0.007202151697129011%, 20.455068588256836% 0.2460397183895111%, 21.073415756225586% 0.7749246954917908%, 21.519384384155273% 1.4582396745681763%, 21.591083526611328% 2.1951379776000977%, 21.184192657470703% 2.90451979637146%, 20.792770385742188% 3.6225361824035645%, 20.429935455322266% 4.355303764343262%, 20.325286865234375% 5.074586391448975%, 21.138633728027344% 5.153213024139404%, 21.955724716186523% 5.1869282722473145%, 22.773242950439453% 5.208125591278076%, 23.590917587280273% 5.222603797912598%, 24.40865707397461% 5.2326178550720215%, 25.2264347076416% 5.239304065704346%, 26.044218063354492% 5.243502140045166%, 26.862018585205078% 5.245584011077881%, 27.67981719970703% 5.245835304260254%, 28.49761962890625% 5.244313716888428%, 29.315414428710938% 5.241178512573242%, 30.11842155456543% 5.371664524078369%, 30.89713478088379% 5.620553970336914%, 31.650348663330078% 5.938389301300049%, 32.370853424072266% 6.3246002197265625%, 33.04908752441406% 6.780858516693115%, 33.67353057861328% 7.308256149291992%, 34.23137664794922% 7.905558109283447%, 34.71033477783203% 8.567749977111816%, 35.10084915161133% 9.285653114318848%, 35.3980598449707% 10.046977996826172%, 35.602569580078125% 10.838335037231445%, 35.71961975097656% 11.647334098815918%, 35.76923370361328% 12.463557243347168%, 35.7912483215332% 13.281026840209961%, 35.78219985961914% 14.098712921142578%, 35.732608795166016% 14.914896011352539%, 35.626834869384766% 15.725590705871582%, 35.43640899658203% 16.520282745361328%, 35.10062789916992% 17.26334571838379%, 34.480003356933594% 17.760000228881836%);
}

main > section:nth-of-type(2) h2 {
    position: relative;
}
main > section:nth-of-type(2) i {
    position: absolute;
    background-color: rgb(244, 222, 96);
    height: 100px;
    max-width: 100px;
    clip-path: polygon(35.939998626708984% 14.779999732971191%, 35.17414093017578% 15.952949523925781%, 34.23897171020508% 16.994884490966797%, 33.116539001464844% 17.8298397064209%, 31.827735900878906% 18.371641159057617%, 30.443981170654297% 18.572996139526367%, 29.049318313598633% 18.457963943481445%, 27.697784423828125% 18.091434478759766%, 26.411592483520508% 17.536191940307617%, 25.197494506835938% 16.83665657043457%, 24.06328773498535% 16.013978958129883%, 23.032855987548828% 16.75623893737793%, 22.007776260375977% 17.71249771118164%, 21.28384780883789% 18.540863037109375%, 22.68069076538086% 18.6271915435791%, 24.036348342895508% 18.976720809936523%, 25.316814422607422% 19.544071197509766%, 26.50741958618164% 20.282358169555664%, 27.60371971130371% 21.154924392700195%, 28.599159240722656% 22.140968322753906%, 28.130752563476562% 23.1894588470459%, 27.10844612121582% 24.147655487060547%, 25.97559356689453% 24.971452713012695%, 24.727617263793945% 25.605979919433594%, 23.381122589111328% 25.986570358276367%, 21.984336853027344% 26.06233787536621%, 20.605199813842773% 25.826623916625977%, 19.3006649017334% 25.318986892700195%, 18.101490020751953% 24.595714569091797%, 17.023082733154297% 23.701948165893555%, 16.017127990722656% 23.772974014282227%, 14.98180103302002% 24.718128204345703%, 13.946473121643066% 25.66328239440918%, 14.2735013961792% 26.074832916259766%, 15.664097785949707% 26.23991584777832%, 17.010549545288086% 26.62472915649414%, 18.278528213500977% 27.219085693359375%, 19.43569564819336% 28.00775146484375%, 20.452327728271484% 28.970808029174805%, 21.296977996826172% 30.083152770996094%, 20.292919158935547% 31.060989379882812%, 19.20945930480957% 31.94969940185547%, 18.034589767456055% 32.7127571105957%, 16.761035919189453% 33.294612884521484%, 15.399742126464844% 33.617000579833984%, 14.00243854522705% 33.59345626831055%, 12.66992473602295% 33.17502212524414%, 11.50241470336914% 32.40823745727539%, 10.282234191894531% 31.718034744262695%, 9.062053680419922% 31.027830123901367%, 7.985017776489258% 31.537240982055664%, 6.961499214172363% 32.49517059326172%, 5.937980651855469% 33.453102111816406%, 4.914462089538574% 34.41102981567383%, 3.8909435272216797% 35.368961334228516%, 2.8674252033233643% 36.3268928527832%, 1.5048598051071167% 36.501548767089844%, 0.37970784306526184% 35.74676513671875%, 0.013109223917126656% 34.407005310058594%, 0.1936321258544922% 33.05775833129883%, 1.1510233879089355% 32.03373718261719%, 2.1084141731262207% 31.00971221923828%, 3.065805435180664% 29.98569107055664%, 4.023196220397949% 28.961668014526367%, 4.980587482452393% 27.937644958496094%, 5.158480644226074% 26.882217407226562%, 4.356897830963135% 25.73277473449707%, 3.681969165802002% 24.505035400390625%, 3.180032730102539% 23.197593688964844%, 2.9096243381500244% 21.824235916137695%, 2.927572727203369% 20.425350189208984%, 3.259451150894165% 19.066471099853516%, 3.880093812942505% 17.812332153320312%, 4.731736660003662% 16.701190948486328%, 5.757669448852539% 15.748026847839355%, 6.917171001434326% 15.458084106445312%, 7.999217510223389% 16.34646224975586%, 8.907349586486816% 17.411998748779297%, 9.613428115844727% 18.62093162536621%, 10.095647811889648% 19.935293197631836%, 10.338556289672852% 21.3140811920166%, 10.334111213684082% 22.714092254638672%, 11.001119613647461% 22.180137634277344%, 11.899507522583008% 21.10397720336914%, 12.797894477844238% 20.027816772460938%, 12.520188331604004% 18.990707397460938%, 11.650901794433594% 17.892072677612305%, 10.946979522705078% 16.681522369384766%, 10.474410057067871% 15.36426830291748%, 10.29971981048584% 13.97652816772461%, 10.453704833984375% 12.586358070373535%, 10.909229278564453% 11.263197898864746%, 11.604228973388672% 10.047690391540527%, 12.47819709777832% 8.953080177307129%, 13.490541458129883% 7.984810829162598%, 14.658721923828125% 8.144108772277832%, 15.721028327941895% 9.054875373840332%, 16.5761661529541% 10.162857055664062%, 17.21303367614746% 11.409745216369629%, 17.644351959228516% 12.742280006408691%, 17.887168884277344% 14.121894836425781%, 18.21656608581543% 14.80495834350586%, 19.15817642211914% 13.766417503356934%, 20.09979820251465% 12.727865219116211%, 20.22075843811035% 11.750236511230469%, 19.240345001220703% 10.750557899475098%, 18.470672607421875% 9.582199096679688%, 17.997962951660156% 8.26642894744873%, 17.872631072998047% 6.873863697052002%, 18.071866989135742% 5.488884925842285%, 18.527421951293945% 4.1648054122924805%, 19.171701431274414% 2.920868396759033%, 19.955915451049805% 1.7596590518951416%, 20.851015090942383% 0.6814515590667725%, 21.975698471069336% 0.2996811270713806%, 22.991186141967773% 1.2554007768630981%, 23.784364700317383% 2.4101524353027344%, 24.46315574645996% 3.636352062225342%, 24.643775939941406% 4.856603145599365%, 24.32129669189453% 6.212417125701904%, 24.290149688720703% 7.613123893737793%, 24.377796173095703% 9.012024879455566%, 24.521221160888672% 10.154150009155273%, 24.618026733398438% 8.75639820098877%, 24.89527702331543% 7.383515357971191%, 25.393768310546875% 6.075366973876953%, 26.14112091064453% 4.892518997192383%, 27.12864112854004% 3.901599884033203%, 28.305383682250977% 3.1442248821258545%, 29.604005813598633% 2.6208062171936035%, 30.968685150146484% 2.305205821990967%, 32.36286544799805% 2.1663894653320312%, 33.76396179199219% 2.1821794509887695%, 34.748443603515625% 2.7553868293762207%, 34.8709716796875% 4.151418209075928%, 34.852237701416016% 5.552399158477783%, 34.65037536621094% 6.938317775726318%, 34.21706008911133% 8.269288063049316%, 33.515167236328125% 9.479242324829102%, 32.54976272583008% 10.491121292114258%, 31.378719329833984% 11.25674057006836%, 30.079477310180664% 11.778304100036621%, 28.713504791259766% 12.08821964263916%, 28.62116813659668% 12.137358665466309%, 30.01593589782715% 11.997808456420898%, 31.402633666992188% 11.793050765991211%, 32.62120056152344% 12.196855545043945%, 33.72747039794922% 13.057907104492188%, 34.8337287902832% 13.91894817352295%, 35.939998626708984% 14.779999732971191%);
}
main > i:nth-of-type(6) {
    background-color: black;
    height: 100px;
    max-width: 100px;
    clip-path: polygon(16.520000457763672% 34.040000915527344%, 16.520000457763672% 32.577720642089844%, 16.520000457763672% 31.11543846130371%, 16.520000457763672% 29.653156280517578%, 16.520000457763672% 28.190876007080078%, 16.520000457763672% 26.728593826293945%, 16.520000457763672% 25.266311645507812%, 16.520000457763672% 23.804031372070312%, 16.520000457763672% 22.34174919128418%, 16.520000457763672% 20.879467010498047%, 16.520000457763672% 19.417186737060547%, 16.520000457763672% 17.954904556274414%, 16.520000457763672% 16.49262237548828%, 16.554658889770508% 15.031404495239258%, 16.42405128479004% 13.575939178466797%, 16.101961135864258% 12.15079116821289%, 15.574654579162598% 10.78846549987793%, 14.828590393066406% 9.533212661743164%, 13.998106956481934% 8.3358154296875%, 13.251928329467773% 7.078246593475342%, 12.50574779510498% 5.820675849914551%, 12.090001106262207% 4.472451686859131%, 12.090001106262207% 3.010171413421631%, 12.600001335144043% 2.0578880310058594%, 12.600001335144043% 0.5956039428710938%, 11.733325004577637% 6.507161174340581e-7%, 10.271044731140137% 5.228795316725154e-7%, 8.808760643005371% 3.950426048504596e-7%, 7.346480369567871% 2.672059906672075e-7%, 5.884200096130371% 1.3936940490566485e-7%, 4.4219160079956055% 1.1532467425467985e-8%, 4.289999961853027% 1.3303656578063965%, 4.48264741897583% 2.5999999046325684%, 4.570000171661377% 3.974930763244629%, 4.225542068481445% 5.350456714630127%, 3.5329036712646484% 6.6382904052734375%, 2.8402631282806396% 7.926126956939697%, 2.1476247310638428% 9.213960647583008%, 1.403916597366333% 10.470931053161621%, 0.8517082333564758% 11.823358535766602%, 0.47285178303718567% 13.23505687713623%, 0.2182527631521225% 14.674643516540527%, 0.06556906551122665% 16.128646850585938%, 0.04000065475702286% 17.5902099609375%, 0.040000591427087784% 19.052490234375%, 0.04000052809715271% 20.5147705078125%, 0.04000046104192734% 21.97705078125%, 0.040000397711992264% 23.43933868408203%, 0.04000033438205719% 24.90161895751953%, 0.040000271052122116% 26.36389923095703%, 0.04000020772218704% 27.82617950439453%, 0.04000014439225197% 29.28845977783203%, 0.040000077337026596% 30.75074005126953%, 0.04000001400709152% 32.21302795410156%, 0.04533696919679642% 33.675228118896484%, 0.37639251351356506% 35.08816146850586%, 1.4254056215286255% 36.060630798339844%, 2.8625900745391846% 36.21137619018555%, 4.324753761291504% 36.209999084472656%, 5.787041664123535% 36.209999084472656%, 7.249321937561035% 36.209999084472656%, 8.711602210998535% 36.209999084472656%, 10.173882484436035% 36.209999084472656%, 11.636162757873535% 36.209999084472656%, 13.098443031311035% 36.209999084472656%, 14.560503005981445% 36.200706481933594%, 15.935790061950684% 35.766021728515625%, 16.557720184326172% 34.49909591674805%, 15.967368125915527% 34.90862274169922%, 14.840815544128418% 35.7220458984375%, 13.380205154418945% 35.709999084472656%, 11.917924880981445% 35.709999084472656%, 10.455636978149414% 35.709999084472656%, 8.993356704711914% 35.709999084472656%, 7.531075954437256% 35.709999084472656%, 6.068795680999756% 35.709999084472656%, 4.606515407562256% 35.709999084472656%, 3.144235134124756% 35.709999084472656%, 1.7096750736236572% 35.55886459350586%, 0.7287126779556274% 34.521759033203125%, 0.6270062923431396% 33.07851028442383%, 0.6503787636756897% 31.616411209106445%, 0.6712663769721985% 30.15428352355957%, 0.6894806623458862% 28.692115783691406%, 0.7050117254257202% 27.22991180419922%, 0.7174744606018066% 25.76768684387207%, 0.7263140678405762% 24.30543327331543%, 0.7307945489883423% 22.843158721923828%, 0.7294124960899353% 21.380882263183594%, 0.7200075387954712% 19.918630599975586%, 0.6978931427001953% 18.456523895263672%, 0.650506317615509% 16.995067596435547%, 0.6346447467803955% 15.53402328491211%, 0.7942342758178711% 14.081273078918457%, 1.1181426048278809% 12.656120300292969%, 1.6021353006362915% 11.277107238769531%, 2.2388088703155518% 9.998451232910156%, 3.2207367420196533% 11.01937198638916%, 4.569249153137207% 11.286870002746582%, 5.826296806335449% 11.936361312866211%, 7.150170803070068% 11.409268379211426%, 7.968786716461182% 10.221609115600586%, 9.123261451721191% 10.372657775878906%, 10.20725154876709% 11.310676574707031%, 11.620771408081055% 11.612988471984863%, 12.905951499938965% 10.981404304504395%, 13.952890396118164% 10.008418083190918%, 14.308858871459961% 9.57992935180664%, 13.116351127624512% 10.218822479248047%, 12.01473617553711% 11.156737327575684%, 10.601017951965332% 11.110980987548828%, 9.530765533447266% 10.13632869720459%, 8.248053550720215% 9.574833869934082%, 7.274715900421143% 10.614120483398438%, 6.114810466766357% 11.452752113342285%, 4.942496299743652% 10.840848922729492%, 3.5224416255950928% 10.57068157196045%, 2.561572551727295% 9.69961166381836%, 3.0490643978118896% 8.36009693145752%, 3.7236011028289795% 7.062690734863281%, 4.398138046264648% 5.765284061431885%, 4.900000095367432% 4.425678253173828%, 4.900000095367432% 2.963397979736328%, 5.988885879516602% 2.5900001525878906%, 7.451166152954102% 2.5900001525878906%, 8.913446426391602% 2.5900001525878906%, 10.375726699829102% 2.5900001525878906%, 11.600000381469727% 2.828005790710449%, 11.600000381469727% 4.290286064147949%, 11.950767517089844% 5.657175064086914%, 12.691370964050293% 6.918036460876465%, 13.431982040405273% 8.178911209106445%, 14.202528953552246% 9.419644355773926%, 14.90957260131836% 10.694854736328125%, 15.414314270019531% 12.066650390625%, 15.784513473510742% 13.480700492858887%, 16.016733169555664% 14.923853874206543%, 16.108789443969727% 16.382671356201172%, 16.11233139038086% 17.844926834106445%, 16.114845275878906% 19.307205200195312%, 16.117361068725586% 20.769481658935547%, 16.119876861572266% 22.231760025024414%, 16.122392654418945% 23.69403839111328%, 16.124908447265625% 25.15633201599121%, 16.127424240112305% 26.618610382080078%, 16.129940032958984% 28.080886840820312%, 16.13245391845703% 29.543167114257812%, 16.13496971130371% 31.005443572998047%, 16.13748550415039% 32.46772384643555%, 16.14000129699707% 33.93000030517578%);
}

main > i {
    display: none;
}
@media print {
    main {
        display: block;
    }

    main section {
        float: left;
        width: 40%;
        height: fit-content;
        page-break-inside: avoid;
        box-shadow: none;
        margin-left: 1cm;
        margin-bottom: 1cm;
    }

    main section:nth-of-type(even) {
        page-break-after: always;
    }

    main > section:before {
        display: none;
        clip-path: none;
        -webkit-clip-path: none;
        opacity: 0;
    }

    main section:first-of-type {
        height: fit-content;
    }

    label{
        display: none;
    }

    main > div:last-of-type,
    main > div:first-of-type {
        display: none;
    }
    @page {
        margin-top: 2cm;
    }
}